
/* --------------------- */
header.shadow {
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #fdf7ff;
    color:#333;
    line-height: 1.6;
    
}

/* header */
header
{
    width: 100%;
    background:#7c4ba0;  /* soft luxury purple */
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);


}

.logo img {
    width: 80px;
    height: auto;
    border-radius: 70%;
}


nav a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;

}

nav a:hover{
    color: #ffe6ff;

}

/* Hero Section  */

.hero
{
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #fceaff, #f7e8ff);
}

.hero h1
{
    font-size: 48px;
    color: #7a2e98;
    margin-bottom: 10px;

}

.hero p
{
    font-size: 20px;
    color: #444;
    margin-bottom: 30px;
}

.btn
{
    background: #7c4ba0;
    color: white;
    padding: 12px 28px;
    font-size: 18px;
    border-radius: 30px;
    /* text decoration is for remove underline */
    text-decoration: none; 
    transition: 0.3s ease;


}
.btn:hover
{
    background: #9d6ec4;
}

/* services section */
#services
{
    padding: 70px 20px;
    text-align: center;
}

#services h2
{
    color: #7a2e98;
    font-size: 32px;
    margin-bottom: 40px;
}

.Service-container
{
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   /* flex wrap -> wrap the lines on small screen --by default all 
   texts try to fix in same line only thats why we using here for responsive website */

}

.Service-card {
    width: 280px;
    background: rgba(255, 255, 255, 0.6);
    padding: 25px;
    border-radius: 15px;
     backdrop-filter: blur(10px);
     box-shadow: 0 6px 18px rgba(0,0,0,0.1);
     transition: 0.3s ease;
}

.Service-card:hover {
    transform:  translateY(-10px);
    box-shadow: 0 13px 20px rgba(0,0,0,0.15);
}


.Service-card h3{
    margin-bottom: 10px;
    font-size: 23px;
    color: #7a2e98;

}

.Service-card p {
     font-size: 15px;
    color: #444;

}

/* booking section */
#booking
{
    text-align: center;
    padding: 80px 20px;
    background: #f8eaff;
}
#booking h2
{
    color: #7a2e98;
    margin-bottom: 30px;
    font-size: 32px;
}

form
{
    width: 350px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
     box-shadow: 0 6px 18px rgba(0,0,0,0.1);

}

form input,form select
{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px solid #d1b3e4;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

form input:focus , form select:focus 
{
    border-color: #7a2e98;

}

button{
     width: 100%;
    padding: 12px;
    background: #7c4ba0;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    background: #9058bd;
}

/* contact section */
#contact
{
    padding: 70px 20px;
    text-align: center;
}
#contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #7a2e98;
}

#contact p{
    font-size: 18px;
    margin: 5px 0;
    color: #444;
}

/* footer */

footer
{
    background: #7c4ba0;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 16px;
}